.input {
    position: relative;
    right: 50%;
    transform: translateX(50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#newTask {
    margin: 1em auto 1.5em auto;
    background-color: #ffffff;
    width: 280px;
    height: 32px;
    border-radius: 10px;
    border-style:solid;
    border:none;
    padding-left: 15px;
    color: #000;
}

.title {
    font-size: 22pt;
    text-align: center;
    display: none;
}
#btn-add {
    color: #fff;
    font-size: 12pt;
    background-color: #2f3437;
    width: 180px;
    height: 30px;
    border-style: solid;
    border-color: #fff;
    border-radius: 10px;
}

@media(max-width: 850px) {
    .title {
        font-size: 18pt;
    }
    #newTask {
        margin-top: .1em;
        width: 250px;
        height: 30px;
    }
    #btn-add {
        width: 160px;
        height: 30px;
    }
}
@media(max-width: 400px) {
    .title {
        font-size: 15pt;
    }
}
