#list {
    margin: 3em;
}
.todo-items div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vh;
    padding: 0.5em;
    border: 1px solid #fff;
    margin: 1em auto;
    border-radius: 10px;

}

.btn-remover {
    color: #fff;
    font-size: 12pt;
    background-color: #2f3437;
    width: 30px;
    height: 30px;
    border: 1px solid #fff;
    border-radius: 15px;
}
.btn-complete {
    color: #fff;
    font-size: 12pt;
    background-color: #2f3437;
    width: 20px;
    height: 20px;
    border: 1px solid #fff;
    border-radius: 10px;
}


@media(max-width: 690px) {
    #list {
    }
    .todo-items div {
        width: 100%;
    }
    .todo-items div li {
        margin: auto;
        line-height: 1.5em;
        font-size: 10pt;
    }

}
