#list {
    margin: 3em;
}
.todo-items div {
    display: flex;
    width: 100vh;
    justify-content: space-between;
    padding: 0.5em;
    border-style: solid;
    border-color: #fff;
    border-width: 1px;
    margin: 1em auto;
    border-radius: 10px;
}
.todo-items div li {
    margin-left: 1.5em;
    line-height: 1.25em;
}

.btn-remover {
    color: #fff;
    font-size: 12pt;
    background-color: #e44232;
    width: 150px;
    height: 25px;
    border-style: solid;
    border-color: #fff;
    border-radius: 10px;
    border-width: 1px;
}


@media(max-width: 850px) {
    #list {
    }
    .todo-items div {
        width: 100%;
    }
    .todo-items div li {
        margin: auto;
        line-height: 0.25em;
    }

    .btn-remover {
        display: none;
    }
}